section{
	margin:0 auto;
	text-align: center;
}

section h1{
	font-size: 30px;
	font-family: Helvetica, sans-serif;
	font-weight: bolder;
	font-style: italic;
}

li{
	list-style-type: none;	
}

li a{
	text-decoration: none;
}