section{
	width: 70%;
	margin:0 auto;
	text-align: center;
}


h3{
	width: 70%;
	margin:2% auto;
	text-align: center;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
}
section h1{
	font-size: 80px;
	color: #000000;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 10px;	
	margin-bottom: 0%;
}

nav {
	width: 75%;
	margin: 0 auto;
}

nav ul{
	/*margin-top: 10%;*/
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

nav ul strong.typesofplace{
	text-align: center;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	margin-bottom: 4%;
}


nav ul li:first-child{
	margin-top: 3%;
}

img{
	height: 50px;
	width: 50px;
}

nav ul p{
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	text-align: left;
}



li{
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
  	font-size: 15px;
	list-style-type: square;
	list-style-position: inside;
	text-align: left;
	margin: 2% auto;
}

a{
	text-decoration: none;
}

li a{
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
  	font-size: 15px
	text-decoration: none;
	text-align: center;
}

li a:hover{
	padding-bottom: 7px;
	border-bottom: 1px solid #DEDEDE; 
}
section:after{
	clear: both;
}

footer{
	clear: both;
	padding-top: 0%;
	text-align: center;
	width: 70%;
	margin: 0 auto;
	font-family: 'Lato', Verdana, Helvetica, sans-serif;
	font-size: 15px	font-size: 16px;
}

hr{
	border:1px solid;
	border-color: #aaa transparent #fff;
}

